#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeBtn {
  background-color: #39b54a;
  color: #eee;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 40px;
}
.homeBtn:hover {
  box-shadow: inset 0 0 100px grey;
  cursor: pointer;
}
.quote {
  width: 50%;
  margin-top: 100px;
  font-style: italic;
}
h1 {
  font-weight: 100;
  font-size: 64px;
  padding-top: 64px;
}
@media only screen and (max-width: 600px) {
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    font-weight: 100;
    font-size: 32px;
    padding-top: 64px;
  }
  h2 {
    font-weight: 100;
  }
  .quote {
    margin-top: 20px;
  }
}
