/** @format */
/** @format */
.leafButton {
  color: white;
  background-color: #31c731;
  border: none;
  font-size: 26px;
  padding: 10px;
  border-radius: 20px 0 20px 0;
  transition: 0.2s;
}
.leafButton:hover {
  border-radius: 0 20px 0 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/** @format */
#sideNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  padding: 10px;
  background-color: #303030;
  max-width: 60px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 5;
  box-shadow: 0 0 5px #111;
}
#sideNav a {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 31px;
  text-decoration: none;
  color: white;
}
#sideNav a:hover {
  color: #31c731;
  cursor: pointer;
}
#sideNav:hover {
  box-shadow: 0 0 50px #111;
}

/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
  font-weight: 100;
}

h2 {
  font-size: 32px;
  font-weight: 100;
}

body {
  background-color: #222;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: opacity 0.2s;
  width: 100%;
  min-height: 500px;
  padding: 50px;
}

.greenText {
  color: #31c731;
}

.cardLink {
  padding: 20px;
}

.card {
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: #303030;
  transition: 0.2s;
  width: 200px;
  overflow: hidden;
  box-shadow: 0 0 5px #111;
}
.card img {
  padding: 20px;
  width: 100%;
}
.card h2 {
  background-color: #31c731;
  color: white;
}
.card:hover {
  background-color: #31c731;
}

#projectList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#projectType input[type=checkbox] {
  visibility: hidden;
}
#projectType input[type=checkbox]:checked + label {
  color: #31c731;
}
#projectType input[type=checkbox]:hover + label {
  cursor: pointer;
}

.about {
  display: flex;
}
.about p {
  text-align: left;
  max-width: 500px;
  text-indent: 30px;
}

#mobileHeader {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: visible;
  }

  main {
    padding: 5px;
  }

  h1 {
    font-size: 48px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  .leafButton {
    font-size: 48px;
  }

  #sideNav {
    left: -60px;
  }
  #sideNav a {
    width: 100%;
  }

  #mobileHeader {
    display: flex;
    background-color: #31c731;
    padding: 10px;
    box-shadow: 0 0 5px #111;
  }
  #mobileHeader button {
    color: white;
    background-color: #222;
    border: none;
    font-size: 24px;
    padding: 5px;
    width: 40px;
    height: 40px;
  }

  .cardLink {
    padding: 5px;
  }

  .card {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  .card h2 {
    background: none;
  }
  .card img {
    width: 20%;
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
