@import "./header.css";
@import "./main.css";
@import "./projects.css";
@import "./contact.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #202020;
  color: white;
}
section {
  height: 100vh;
}

em {
  text-decoration: none;
  font-style: normal;
  color: #39b54a;
}
h1 {
  font-weight: 100;
  font-size: 64px;
  padding-top: 64px;
}
