/** @format */
$fore_color: rgb(49, 199, 49);
// $fore_color: #5d46c7;
// $fore_color: #c74646;
$text_color: white;
$back_color: #222;
$back_secondary_color: #202020;

%buttonStyle {
  background-color: $fore_color;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 2rem;
  color: $text_color;
  border-radius: 25px 0 25px 0;
  border: none;
  &:hover {
    border-radius: 0 25px 0 25px;
    cursor: pointer;
  }
}
%navButton {
  font-size: 20px;
  padding: 10px;
  width: 40px;
  background-color: $back_secondary_color;
  border: none;
  color: $fore_color;
}

%cardButton {
  width: 10vw;
  padding: 10px;
  margin: 10px;
  background: none;
  border: none;
  color: white;
  img {
    width: 100%;
  }
}
