/** @format */
$colPrimary: rgb(49, 199, 49);
$colText: white;
$colBackground: #222;
$colBackgroundSecondary: #303030;
$fontSize: 16px;
$borderRadius: 20px;

%leafButton {
  color: $colText;
  // background-color: $colPrimary;
  background: none;
  border: 2px solid $colPrimary;
  font-size: $fontSize + 10;
  padding: 10px;
  border-radius: $borderRadius 0 $borderRadius 0;
  transition: 0.2s;
  &:hover {
    border-radius: 0 $borderRadius 0 $borderRadius;
    cursor: pointer;
    background-color: $colPrimary;
  }
}
a {
  text-decoration: none;
}
