/** @format */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: $back_secondary_color;
  max-width: 50px;
  overflow: hidden;
  transition: all 0.5s;
  position: absolute;
  height: 100vh;
  z-index: 1;
  span {
    margin: 50px 0;
    transition: all 0.5s;
  }
  #name {
    display: flex;
    flex-direction: column;
  }
  h1 {
    color: $fore_color;
  }
  a {
    text-decoration: none;
    color: $text_color;
    font-size: 20px;
    margin: 20px 0;
    transition: 0.2s;
    display: flex;
    width: 150px;
    justify-content: space-between;
    &:hover {
      color: $fore_color;
    }
  }
  &:hover {
    max-width: 100vw;
  }
}
