/** @format */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  padding: 10px;
  background-color: $colBackgroundSecondary;
  max-width: 60px;
  overflow: hidden;
  transition: 0.2s;
  a {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: $fontSize + 15;
    text-decoration: none;
    color: $colText;
    &:hover {
      color: $colPrimary;
      cursor: pointer;
    }
  }
}
