/** @format */

@import "global";
@import "modal";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $back_color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $text_color;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: $back_secondary_color;
  max-width: 50px;
  overflow: hidden;
  transition: all 0.5s;
  position: absolute;
  height: 100vh;
  z-index: 1;
  span {
    margin: 50px 0;
    transition: all 0.5s;
  }
  #name {
    display: flex;
    flex-direction: column;
  }
  h1 {
    color: $fore_color;
  }
  a {
    text-decoration: none;
    color: $text_color;
    font-size: 20px;
    margin: 20px 0;
    transition: 0.2s;
    display: flex;
    width: 150px;
    justify-content: space-between;
    &:hover {
      color: $fore_color;
    }
  }
  &:hover {
    max-width: 100vw;
  }
}

.container {
  height: 100%;
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    @extend %buttonStyle;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-align: center;
  }
  .quoteBlock {
    text-align: center;
  }
}
#mobileNav {
  visibility: hidden;
  background-color: $fore_color;
  z-index: 2;
  position: fixed;
  width: 100%;
  button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: $back_secondary_color;
    border: none;
    color: $fore_color;
  }
}
.showHeader {
  width: 100%;
  left: 0;
}

//   Media Query
@media only screen and (max-width: 600px) {
  #header {
    left: -50px;
    width: 100vw;
    span {
      margin: 0;
    }
    a {
      justify-content: space-between;
      width: 100%;
      font-size: 40px;
    }
    #socials {
      visibility: hidden;
    }
    #name {
      visibility: hidden;
    }
  }
  #html {
    visibility: hidden;
  }
  #modalButton {
    display: none;
  }
  #mobileNav {
    visibility: visible;
    z-index: 2;
  }
}
