/** @format */

@import "global";
@import "nav";
@import "transitions";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: $fontSize * 5;
  font-weight: 100;
}
h2 {
  font-size: $fontSize * 2;
  font-weight: 100;
}
body {
  background-color: $colBackground;
  color: $colText;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: $fontSize;
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: opacity 0.2s;
  width: 100%;
  min-height: 500px;
  padding: 50px;
}
.greenText {
  color: $colPrimary;
}
.leafButton {
  @extend %leafButton;
}
.cardLink {
  padding: 20px;
}
.card {
  text-align: center;
  border-radius: $borderRadius;
  text-decoration: none;
  color: white;
  background-color: $colBackgroundSecondary;
  transition: 0.2s;
  width: 200px;
  overflow: hidden;
  box-shadow: 0 0 5px #111;
  img {
    padding: 20px;
    width: 100%;
  }
  h2 {
    background-color: $colPrimary;
    color: $colText;
  }
  &:hover {
    background-color: $colPrimary;
  }
}
#projectList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#projectType {
  input[type="checkbox"] {
    visibility: hidden;
    &:checked + label {
      color: $colPrimary;
    }
    &:hover + label {
      cursor: pointer;
    }
  }
}
.about {
  display: flex;
  p {
    text-align: left;
    max-width: 500px;
    text-indent: 30px;
  }
}
#mobileHeader {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: visible;
  }
  main {
    padding: 5px;
  }
  h1 {
    font-size: $fontSize * 3;
    text-align: center;
  }
  h2 {
    font-size: $fontSize * 1.5;
    text-align: center;
  }
  .leafButton {
    font-size: $fontSize * 3;
  }
  #sideNav {
    left: -60px;
    a {
      width: 100%;
    }
  }
  #mobileHeader {
    display: flex;
    background-color: $colPrimary;
    padding: 10px;
    box-shadow: 0 0 5px #111;

    button {
      color: $colText;
      background-color: $colBackground;
      border: none;
      font-size: $fontSize * 1.5;
      padding: 5px;
      width: 40px;
      height: 40px;
    }
  }
  .cardLink {
    padding: 5px;
  }
  .card {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    h2 {
      background: none;
    }
    img {
      width: 20%;
      padding: 5px;
    }
  }
}
