/** @format */

* {
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(48, 48, 48);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
}
header {
  color: white;
  display: flex;
  margin: 1rem;
}
h1 {
  flex: 2;
  text-align: center;
}
header ul {
  display: flex;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
}
header li {
  flex: 1;
}
#headIzac {
  flex: 5;
  color: rgb(49, 199, 49);
  width: 100vw;
  font-size: 2rem;
}
a:visited {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline white;
}
.intro {
  font-size: 2rem;
  text-align: center;
  padding: 5rem 0 0 0;
  flex: 2;
}
em {
  font-style: normal;
  color: rgb(49, 199, 49);
  transition: 1s;
}

.navBtn {
  background: rgb(49, 199, 49);
  font-size: 2rem;
  padding: 0.5rem;
  margin: 2rem;
  border: solid;
  border-color: rgb(49, 199, 49);
  color: white;
  transition: 0.25s;
  border-radius: 25px 0 25px 0;
}
.navBtn:hover {
  border-radius: 0 25px 0 25px;
  cursor: pointer;
}
.buttonList {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
}
footer {
  width: 300px;
  margin: auto;
  bottom: 25%;
  flex: 1;
  text-align: center;
}
footer h2 {
  padding: 2rem;
}
.projectCard {
  display: flex;

  margin: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projectCard img {
  width: 150px;
}
.cardBtn {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  border: solid white;
  color: white;
  border-radius: 25px 0 25px 0;
  transition: 0.5s;
  margin: 1rem;
}
.cardBtn:hover {
  background: rgb(49, 199, 49);
  transform: scale(1.1);
  cursor: pointer;
}
.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.contactMe h2 {
  padding: 2rem 0 1rem 0;
}
.socials {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.socials a {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  border: solid white;
  color: white;
  border-radius: 25px 0 25px 0;
  transition: 0.5s;
  margin: 1rem;
}
.socials a:hover {
  background: rgb(49, 199, 49);
  transform: scale(1.1);
  cursor: pointer;
}
.about {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  max-width: 1000px;
  border: solid rgb(49, 199, 49);
  border-radius: 25px 0 25px 0;
}
.about p {
  padding: 1rem;
}
.aboutText {
  width: 500px;
}
.about img {
  width: 250px;
  height: 250px;
  padding: 1rem;
  border-radius: 25px 0 25px 0;
}
