/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: black;
}
section {
  height: 100vh;
  scroll-snap-align: start;
}
.one {
  background-color: lightgrey;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
header {
  background-color: white;
  box-shadow: 0 0 5px rgb(90, 90, 90);
  margin: 0 0 1rem 0;
}
h1 {
  color: black;
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
}
h2 {
  text-align: center;
}
.theGrid {
  margin: auto;
  width: 90vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.gridBox {
  transition: 0.1s;
  overflow: hidden;
  padding: 1rem;
}
.gridBox:hover {
  padding: 0;
}
.bigBox {
  grid-column: span 2;
  grid-row: span 2;
}
.gridBox img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px rgb(90, 90, 90);
}

.about {
  margin: auto;
  width: 50vw;
  min-width: 200px;
}
.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageInfo {
  background-color: lightcoral;
  width: 50vw;
}
.two img {
  width: 500px;
}
.about {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-around;
}
.infoText {
  width: 50vw;
}
