/** @format */

@import "global";
@import "modal";
@import "header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $back_color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $text_color;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  button {
    @extend %buttonStyle;
  }

  .quoteBlock {
    text-align: center;
    width: 50%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 75%;
  margin: auto;
}

#mobileNav {
  // visibility: hidden;
  background-color: $fore_color;
  z-index: 2;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  button {
    @extend %navButton;
    visibility: hidden;
  }
}
.showHeader {
  width: 100%;
  left: 0;
}
.projectCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cardBtn {
  @extend %cardButton;
}

footer {
  background-color: $fore_color;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  button {
    @extend %navButton;
  }
}
em {
  font-style: normal;
  color: $fore_color;
}
.aboutText {
  text-align: left;
  text-indent: 50px;
  width: 75%;
  font-size: 20px;
}

//   Media Query
@media only screen and (max-width: 600px) {
  .content {
    width: 90%;
  }
  #header {
    left: -50px;
    width: 100vw;
    span {
      margin: 0;
    }
    a {
      justify-content: space-between;
      width: 100%;
      font-size: 40px;
    }
    #socials {
      visibility: hidden;
    }
    #name {
      visibility: hidden;
    }
  }
  #html {
    visibility: hidden;
  }
  #modalButton {
  }
  #mobileNav {
    visibility: visible;
    z-index: 2;
    button {
      visibility: visible;
    }
  }
  .cardBtn {
    width: 40vw;
    height: 50vw;
  }
}
